<html>
 <head>
    <title>SOS Farms Invoice Printable</title>

<style type="text/css">

.print-table
{
  padding: 5;
  margin: 1;
  border-collapse: collapse;
  border: 2px solid #333;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  color: #000000;
}

.print-table th, .print-table td
{
  border: 1px dotted #666;
  padding: 0.5em;
  text-align: left;
  color: #000000;
}

-->
</style>

  </head>

 <body>

<h3>{{username}}</h3>
<p>{{purch_msg}}</p>
    <table border="1" class="print-table">
    <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Cost</th>
    <th>Charge</th>
    {% for uc in choices %}
       <tr>
            {% if uc.item %}
            <td>{{uc.item.name}}</td>
            <td>{{uc.quantity}}</td>
            <td>{{uc.item.cost}}</td>
            <td>{{uc.charge}}</td>
            {%else%}
            <td>DELETED ITEM</td>
            <td>0</td>
            <td>0.00</td>
            <td>0.00</td>
            {%endif%}

        </tr>

    {% endfor %}
    <tr>
        <td>Subtotal</td><td></td><td></td><td>{{sub_total_charge}}</td>
    </tr>
    <tr>
        <td>Tax</td><td></td><td></td><td>{{tax}}</td>
    </tr>
    <tr>
        <td>Total</td><td></td><td></td><td>{{final_total_charge}}</td>
    </tr>
    </table>


  </body>
</html>

