<html>
 <head>
    <title>SOS Farms Harvest Printable</title>

<style type="text/css">

.print-table
{
  padding: 5;
  margin: 1;
  border-collapse: collapse;
  border: 2px solid #333;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.6em;
  color: #000000;
}

.print-table th, .print-table td
{
  border: 1px dotted #666;
  padding: 0.5em;
  text-align: left;
  color: #000000;
}

-->
</style>


  </head>

 <body>

        <table border="1" class="print-table">
        <tr>
        <th>User</th>
            {% for h in list_header %}
                <th> {{ h.name }}</th>
            {% endfor %}
        <th>Total Charge</th>
        </tr>

        {% for upo in user_pos %}
        <tr>
            <td>{{ upo.user_info.firstname }} {{ upo.user_info.lastname }}</td>
                {% for q in upo.quat_list %}
                    <td>{{ q }}</td>
                {% endfor %}
            <td>{{upo.total_charge_str}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Totals</td>
           {% for t in totals %}
               <td>{{ t }}</td>
           {% endfor %}
            <td>{{total_collect}}</td>
        </tr>

        </table>


  </body>
</html>

